name: workout-tracker
services:
  database:
    build: ./postgres
    container_name: workout-tracker-db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASS}
      APP_USER: ${SERVER_USER}
      APP_PASSWORD: ${SERVER_PASS}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
  redis:
    build: ./redis
    container_name: workout-tracker-redis
    networks:
      - app-network
    restart: unless-stopped
    
  backend:
    build:
      context: ./spring-boot
      dockerfile: Dockerfile
    container_name: workout-tracker-backend
    ports:
      - "8080:8080"
    volumes:
      - backend-data:/app/data
    environment:
      DB_HOST: database
      DB_PORT: ${DB_PORT}
      DB_NAME: ${DB_NAME}
      DB_USERNAME: ${SERVER_USER}
      DB_PASSWORD: ${SERVER_PASS}
      REDIS_HOST: redis
      REDIS_PORT: ${REDIS_PORT}
      KEY_FILE_PATH: /app/data
    depends_on:
      database:
        condition: service_healthy
      redis:
        condition: service_started
    networks:
      - app-network
    restart: unless-stopped
volumes:
  postgres-data:
    driver: local
  backend-data:
    driver: local
networks:
  app-network:
    driver: bridge
